@import url("https://unpkg.com/papercss@1.9.2/dist/paper.css") layer(csspaper);

:root {
  --dark-violet-color: rgb(26, 25, 32);
}

.card-list:has(li:hover) li:not(:hover) {
  filter: blur(4px);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #242424;

  min-height: 100vh;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #50505031,
    #242424 1px,
    #242424 1px,
    #242424
  );
}

hr {
  margin: 35px;
  border-color: rgb(109, 89, 109);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

/* TODO: NAVBAR */
.navbar {
  /* background-color: #333; */
  background-color: var(--dark-violet-color);
  color: #fff;
  padding: 15px 15px;
  box-shadow: 0 2px 4px rgba(28, 24, 44, 0.1); /* Ajusta los valores según prefieras */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container img {
  width: 50px;
  transition: all 0.3s ease; /* Transición suave para las propiedades animadas */
}

.container img:hover {
  transform: scale(1.08);
  filter: saturate(190%);
  cursor: pointer;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
}

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  position: relative;
  text-decoration: none;
  color: #e9e9e9;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: rgb(191, 115, 221);
}

.menu li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(191, 115, 221);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease, margin-bottom 0.3s ease; /* Agregado */
  margin-bottom: -6px; /* Agregado */
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

/* FIXME: NAVBAR RESPONSIVE */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    text-align: center;
  }

  .hamburger-menu {
    display: flex;
  }

  .container {
    justify-content: space-between;
    align-items: center;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    background: none;
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
  }

  .menu.active li {
    background-color: var(--dark-violet-color);
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 0;
    margin-bottom: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}

/* TODO: HERO-CARD */
.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #ccc;
}

.hero-card img {
  width: 400px;
  transition: transform 0.3s ease-in-out, filter 0.5s ease-in-out;
}

.hero-card img:hover {
  transform: scale(1.05);
  filter: saturate(120%) brightness(120%);
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-filter: saturate(120%) brightness(120%);
}

.button {
  background-color: purple;
  width: 100px;
  color: #e6e2e7;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: block;
  margin: 20px auto 0;
  text-align: center;
}

.button:hover {
  background-color: rgb(102, 0, 128);
  color: #ffffff;
}

/* TODO: PROJECTS */
.container-projects {
  padding: 0 300px 0 300px;
}

h1 {
  font-size: 2.2rem;
  color: var(--primary-color);
  margin: 0 0 2rem;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

li {
  margin: 0;
  transition: all 150ms ease-in-out;
}

li::before {
  content: "";
}

.container-projects img {
  display: block;
  min-width: 0;
  width: 100%;
  margin-bottom: 0.6rem;
}

.container-projects img:hover {
  filter: saturate(150%) brightness(120%);
}

a {
  background: none;
}

.paper {
  padding: 1.5rem;
  background-color: var(--dark-violet-color);
}

li a {
  padding-inline-start: 1rem;
}

/* FIXME: PROJECTS RESPONSIVE */
@media screen and (max-width: 1130px) {
  .container-projects {
    padding: 0 15px 0 15px;
  }

  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .container-projects {
    padding: 0 15px 0 15px;
    text-align: center;
  }

  .card-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* TODO: FOOTER */
.dark-footer {
  background-color: var(--dark-violet-color);
  color: #fff;
}

.dark-footer h4 {
  color: #fff;
}

.dark-footer .contact-info {
  list-style-type: none;
  padding: 0;
}

.dark-footer .contact-info li {
  margin-bottom: 10px;
}

.dark-footer .social-icons {
  list-style-type: none;
  padding: 0;
}

.dark-footer .social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.dark-footer .social-icons li:last-child {
  margin-right: 0;
}

.dark-footer .social-icons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.dark-footer .social-icons a:hover {
  color: #55acee;
}

/* TODO: PAGE PROYECTOS */
.button-page {
  background-color: purple;
  width: 50px;
  color: #e6e2e7;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: block;
  text-align: center;
}

.button-page:hover {
  background-color: rgb(134, 23, 156);
}

.div-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* TODO: PAGE CONTACT */
.contact-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--dark-violet-color);
  color: rgb(183, 187, 192);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FIXME: */
.social-links ul li a {
  background-color: var(--dark-violet-color);
}

.contact-info h2 {
  color: #607eac;
}

.personal-info {
  display: flex;
  align-items: center;
}

.personal-details {
  margin-left: 20px;
}

.personal-details p {
  margin: 5px 0;
}

.social-links h3 {
  color: #607eac;
  margin-top: 20px;
}

.social-links ul {
  list-style-type: none;
  padding: 0;
}

.social-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-links ul li:last-child {
  margin-right: 0;
}

.hero-card-contact img {
  transition: transform 0.3s ease-in-out, filter 0.5s ease-in-out;
}

.hero-card-contact img:hover {
  transform: scale(1.1);
  filter: saturate(120%) brightness(120%);
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-filter: saturate(120%) brightness(120%);
}

/* TODO: PAGE CV */
.text-center {
  text-align: center;
  color: rgb(200, 200, 200);
}

.text-center a {
  color: rgb(119, 161, 205);
  text-decoration: underline;
}

.titulo {
  color: #55acee;
}

.strong {
  color: #7796af;
}

.container-cv {
  max-width: 700px;
  margin: 15px auto;
  padding: 30px;
  border-radius: 15px;
  background-color: var(--dark-violet-color);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: -8px 13px 10px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -8px 13px 10px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -8px 13px 10px -6px rgba(0, 0, 0, 0.2);
}

.habilidades {
  width: 50px;
}